body {
    background-color: #e3e3e3;
}
.login-wrap {
    display:  flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.login-area {
    min-width: 70vh;
}

.registration-area {
    min-width: 90vh;
}